spring:
  application:
    name: vidhyaleBox



  datasource:
    url: jdbc:postgresql://localhost:5432/vidhyalebox
    username: postgres
    password: 123
    driver-class-name: org.postgresql.Driver
  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update
    show-sql: true


logging:
  level:
    org.springframework.security: DEBUG
