[Unit]
Description=VidhyaleBox Spring Boot Application
After=network.target

[Service]
User=ubuntu
ExecStart=/usr/bin/java -jar /home/ubuntu/vidhyaleBox/target/vidhyaleBox-0.0.1-SNAPSHOT.jar
SuccessExitStatus=143
Restart=on-failure
RestartSec=10
StandardOutput=file:/home/ubuntu/logs/ms-VidhyaleBox/output.log
StandardError=file:/home/ubuntu/logs/ms-VidhyaleBox/error.log

[Install]
WantedBy=multi-user.target
